* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 2% 8%;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

header > a {
  color: #888;
  font-size: 1.8em;
  text-decoration: none;
}

header ul {
  display: flex;
  gap: 2rem;
}

header ul a {
  color: #888;
  text-decoration: none;
}